body {
    background-color: #cecece;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: Poppins;
    src: url(../fontes/Poppins-Medium.ttf);
 }

::selection {
    background: #000000;
    color: #fff;
}

nav {
    background-color: var(--bs-dark);
    margin-bottom: 15px;
}

.imagem-navbar {
    width: 75px;
    height: 75px;
}

.imagem-navbar:hover {
    width: 85px;
    height: 85px;
    background-color: white;
    border-radius: 10px;
    transition: .5s;
    text-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 15px #fff;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #fff,
      0 0 40px #fff;
}

.bg-secondary {
    background-color: #ffffff !important;
    padding: 7px;
}
.btn-light:hover {
    background-color: #dddddd;
    border-color: #dddddd;
}
.titulo {
    text-align: center;
    font-size: 67px;
}

.pagina-inicial {
    text-decoration: none;
}

.alert {
    margin: 25px 0 0 0;
}
.titulo2 {
    text-align: center;
    font-size: 45px;
    margin: 14px 0 5px 0;
}
.subtitulo {
    text-align: center;
    font-size: 30px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}

h5 {
    padding: 18px;
}
.alert {
	text-align: center;
}
.subtitulo2 {
    text-align: center;
    font-size: 30px;
    margin: 10px 0 5px 0;
}
.conteudo {
    font-size: 18px;
    padding: 18px;
}
.curiosidades {
    text-align: center;
}

.breadcrumb {
    background-color: #cecece;
    display: flex;
    justify-content: center;
}

.breadcrumb-item a{
    color: var(--bs-dark);
}

.breadcrumb-item a:hover{
    background-color: var(--bs-dark);
    color: var(--bs-light);
    padding: 5px;
    border-radius: 5px;
    transition: .5s;
    box-shadow: 0px 0px 12px 10px #fff;
    text-shadow: 0px 0px 12px 10px #fff;
}

.grupo-de-listas {
    border: 1px white solid;
}

.grupo-de-listas:hover {
    background-color: black !important;
}

.imagem-list-group {
    width: 40px; 
    height: 40px; 
    margin-right: 10px;
    margin-left: 10px;
}

.imagem-list-group-logo {
    width: 40px; 
    height: 40px; 
    margin-right: 10px;
    margin-left: 0px;
}

.card {
    background-color: #cecece;
    text-align: center;
}
.imagens {
    width: 60%;
    border: 2px solid #000000;
    margin: auto;
    display: flex;
}

.figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem-figure {
    width: 60%;
    border: 2px solid #000000;
}

.historia .container {
    display: flex;
    align-items: center;
}
.historia .historia-text h1 {
    margin: 50px 0 0 0;
    font-size: 56px;
    text-align: center;
}
.historia .historia-text a {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.idolos .container {
    display: flex;
    align-items: center;
}
.idolos .idolos-text h1 {
    font-size: 56px;
    text-align: center;
}
.idolos .idolos-text a {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-fundo-aparecer {
    background-color: transparent;
}

.modal-fundo {
    background-color: #212529;
}

.titulo-modal {
    text-shadow: none;
}

.texto-modal {
    text-shadow: none;
    color: white;
}

.x-modal {
    background-color: var(--bs-light);
}

.dropdown-item:focus {
    background-color: #000000;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 35px;
    padding: 35px 0;
    color: var(--bs-secondary);
    font-size: 17px;
    font-weight: 400;
    outline: none;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link:hover::before,
.navbar-light .navbar-nav .nav-link.active::before {
    width: 100%;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--bs-dark);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--bs-dark);
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

.paginacao-fundo {
    background-color: #CECECE;
}

/* carousel */

.elemento-pai-container-posicao {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elemento-pai-carousel {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-carousel-posicao {
    width: 100%;
    height: 950px;
    display: flex;
    align-items: center;
}

.container-posicao {
    background: url(../img/contact-dec-01.png);
    border: 1px solid white;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 600px;
    border-radius: 0px 70px 70px 0px;
}

.container-posicao:hover {
    background-color: var(--bs-dark);
    transition: .5s;
    border: 10px solid white;
}

.carousel-fundo {
    width: 450px;
}

.imagens-cards {
    width: 100%;
    height: 700px;
}

.corpo-card-beetween {
    margin: 0px 100px 0 100px;
}

@media (max-width: 1171px) {
    .container-carousel-posicao {
        flex-direction: column;
        height: 1500px;
        margin-bottom: 100px;
    }
    .elemento-pai-carousel {
        width: 95%;
    }
    .elemento-pai-container-posicao {
        width: 95%;
        margin: 0px 100px 0px 100px;
    }
    .container-posicao {
        width: 100%;
        margin-bottom: 50px;
        padding: 0;
    }
}

/* fim carousel */



footer{
    text-align: center;
}

@media (max-width: 1200px) {
    .navbar-responsiva {
        padding-bottom: 20px !important;
    }
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: var(--bs-black);
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid var(--bs-black);
        color: var(--bs-secondary);
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid rgba(0, 0, 0, .08);
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--bs-dark);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {

    .navbar-light {
        width: 100%;
        top: 0;
        left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid;
        border-left: 0;
        border-style: dotted;
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: var(--bs-light);
        border: none;
    }

    .navbar-light .navbar-nav .nav-item::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--bs-light);
        transition: .5s;
    }

    .sticky-top.navbar-light .navbar-nav .nav-item::before {
        bottom: 0;
    }

    .navbar-light .navbar-nav .nav-item::after {
        content: "";
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
        border: 10px solid;
        border-color: transparent transparent var(--bs-light) transparent;
        opacity: 0;
        transition: 0.5s;
    }

    .navbar-light .navbar-nav .nav-item:hover::after,
    .navbar-light .navbar-nav .nav-item.active::after {
        bottom: 1px;
        opacity: 1;
    }

    .navbar-light .navbar-nav .nav-item:hover::before,
    .navbar-light .navbar-nav .nav-item.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}

.botao-contato {
    padding: 8px 18px;
    text-transform: uppercase;
    border-radius: 40px;
    font-size: 17px;
    font-weight: 500;
    color: #000000;
    text-shadow: none;
    background: var(--bs-light);
    cursor: pointer;
    box-shadow: #aaaaaa;
    border: 1px solid #ffffff;
    transition: 0.5s ease;
    user-select: none;
    margin-left: 10px;
}

.botao-contato a {
    text-decoration: none;
    color: #000000;
}

.botao-contato:hover {
    color: #000000;
    background: #fff;
    border: 1px solid #fff;
    text-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 15px #fff;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #fff,
      0 0 40px #fff;
}

@media (max-width: 575px) {
    .titulo {
        font-size: 50px;
    }
    .titulo2 {
        font-size: 35px;
    }
    .botao-contato {
        margin-top: 20px;
        margin-left: 0px;
    }
}

@media (max-width: 400px) {
    .navbar-responsiva {
        width: 100%;
    }
    .tabela-torcida {
        width: 100%;
    }
}